NEXT_PUBLIC_API_ENDPOINT=https://crypto-bridge.webtm.ru/strapi
NEXT_PUBLIC_APP_URL=https://crypto-bridge.webtm.ru
NEXT_PUBLIC_APP_HOST=https://crypto-bridge.webtm.ru
NEXT_PUBLIC_POSTS_PRIORITY=0.6
NEXT_PUBLIC_REVIEWS_PRIORITY=0.8
